body {
    margin: 0px;
    padding: 0px;
}

.title-bar {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(211, 247, 235);
    margin-bottom:50px;
}

ul {
    display: flex;
    align-content: center;
    gap: 20px;
}

h2 {
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#F8CBD1;
    text-shadow: 2px 2px rgb(179, 179, 219);
    font-size:50px;
}

li {
    padding: none;
    list-style: none;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    gap:80px;
}

.playArea {
    border:50px;
    border-style:solid;
    border-radius:20px;
    border-color: #F4C2C2;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.gridRow {
    flex-grow: 1;
    display: flex;
    width: 500px;
    justify-content: center;
    align-content: center;
}

.gridItem {
    text-align:center;
    border: 1px;
    flex-grow: 1;
    border-style: solid;
}

.options{
    border-radius:50px;
    background-color: #89CFF0;
    padding-left:50px;
    padding-top:100px;
    padding-right:50px;
    display:flex;
    text-align:center;
    flex-direction: column;
    gap:50px;
}